ul{
  list-style: none;
}

li{
  display: inline;
}

h1 {
	text-align: center;
}

#side-bar {
	background-color:lightgray;
	padding: 0;
}

#about-me-content {
	background-color:white;
	overflow-y:visible;
	position:relative;
}

#cards {
	text-align: center;
}

#myPic {
	text-align: center;
	padding: 15vh;
}

#last-paragraph {
	padding-bottom: 70vh;
}

#tech-content {
	color:black;
	font-size:60px;
}

.card {
	display:inline-block;
	width: 12rem;
}

.tech-card-text {
	color:black;
	font-size:25px;
	text-align:center;
}

.myAnchor {
	display: block; 
	position: relative; 
}

.my-content-text {
	color:black;
	font-size:24px;
}

.content-pics {
	width:60vh;
}