<p>about-me works!</p>
<body>      
	<div class="container">
		<div class="row">
	       <div class="col-md-3">
	          <!-- left side -->
	          <h1 style="color:red;font-size:40px;">Heading</h1>
	          <app-side-bar-nav></app-side-bar-nav>  
	       </div>
	       <div class="col-md-9">
	          <!-- right side -->
	          <p style="color:blue;font-size:60px;">This is demo text.</p>
	          <p style="color:blue;font-size:60px;">THIS IS A TEST </p>
	          <p style="color:blue;font-size:60px;">THIS IS A TEST1 </p>
	          <p style="color:blue;font-size:60px;">THIS IS A TEST2 </p>
	          <p style="color:blue;font-size:60px;">THIS IS A TEST3 </p>
	          <p style="color:blue;font-size:60px;">THIS IS A TEST4 </p>
	          <p style="color:blue;font-size:60px;">THIS IS A TEST5 </p>
	          <p style="color:blue;font-size:60px;">THIS IS A TEST6 </p>
	          <p style="color:blue;font-size:60px;">THIS IS A TEST7 </p>
	          <p id="last" style="color:blue;font-size:60px;">THIS IS A TEST8 </p>
	       </div>
	    </div> 
    </div>       
</body>
