<div id="middlecontent" class="container-fluid">
	<div class="row">
       <div class="col-md-2" style="background-color:lightgray;">
          <app-side-bar-nav></app-side-bar-nav>  
       </div>
       <div class="col-sm-10" style="background-color:white;overflow-y:visible;">
          <a>PS Test</a>
          <p style="color:blue;font-size:60px;">
            <code>THIS IS PLACEHOLDER TEXT</code>
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
            THIS IS PLACEHOLDER TEXT
          </p>
          <p id="edu-content" style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p id="tech-content" style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p id="goals-content" style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <p style="color:black;font-size:60px;">
            SIDE BAR NAVIGATES TO HERE!
          </p>
          <div>
            <a id="interests-content" style="color:black;font-size:20px;">
              SIDE BAR NAVIGATES TO HERE!
            </a>
          </div>
       </div>
    </div> 
</div>       