#side-nav {
	position: relative;
}

a {
	word-wrap: break-word;
	cursor: pointer;
	color: white;
}

.fixed-div {
	position:fixed;
	max-width: 24vh;
}

.current-section {
  background-color: #3B5195;
}


/** { border: 1px solid black; }*/
/** { clear: both; }*/
