background-color:rgb(255, 99, 71);

#top-nav {
	min-width: 50vh;
}

ul{
  list-style: none;
  /*top: 5vh;*/
}
li{
  display: inline;
  /*padding: 2vh;*/
}
a {
  padding-top: 0;
  margin-top: 0;
  /*background-color: gray;	*/
}
/*
* { border: 1px solid black; }*/
