#content {
  	width: 100vw;
  	height: 100vh;
  	position: relative;
}
#topnav {
	top: 0;
	left:0;
	width: 100%;  /*Full width */
	min-width: 100%;
	position: fixed;
	text-align: center;
	height: 5vh;
	min-height: 5vh;
	/*border: 1px solid red;*/ /* For debugging*/
	background-color: lightblue;
	overflow: hidden;
	z-index:1;
}
#middle {
	top:5vh;
	position:relative;
}
#bottomnav {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; 
  width: 100%;  /*Full width */
  height: 5vh;
  /*border: 1px solid red;*/ /* For debugging*/
  text-align: center;
  z-index:1;
}
