#topnav {
	top: 0;
	left:0;
	width: 100%;  /*Full width */
	min-width: 100%;
	position: fixed;
	text-align: center;
	height: 5vh;
	min-height: 5vh;
	border: 1px solid red;
	background-color: lightblue;
	overflow: hidden;
	z-index:1;
}

#content {
  	width: 100vw;
  	height: 90vh;
  	top: 5vh;
  	/*max-height: 90vh;*/
  	position: relative;
  	/*margin-top: 10vh;*/
  	background-color: green;
  	/*overflow-y: scroll;*/
}

#bottomnav {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0;  /*Position the navbar at the top of the page */
  width: 100%;  /*Full width */
  height: 5vh;
  border: 1px solid red;
  background-color: orange;
  text-align: center;
}
